##################
# General packages
##################

# Installation, compilation, testing, and documentation
pip
setuptools
cython

# Database access
sqlalchemy
mysql-connector-python
psycopg2

# File I/O
xlrd

# Miscellaneous
enum34
termcolor
plumbum

#############################
# Generic scientific packages 
#############################
# (numpy is implied, as it is a dependency of several of these packages)

git+https://github.com/pydata/pandas.git
scipy
networkx
matplotlib

# Optional speedup packages for pandas
numexpr
bottleneck

# Machine learning
scikit-learn

# Statistical modeling
patsy
statsmodels

#########################
# Bioinformatics packages
#########################

pysam
