# Installation and compilation
setuptools
cython

# Generic scientific packages
numpy
pandas
scipy

# Database access
mysql-connector-python
psycopg2

# Miscellaneous
termcolor

# Bioinformatics packages
pysam
